[Unit]
Description=AppControl daemon

[Service]
Type=simple
ExecStart=/usr/bin/appcontrold serve --data-dir %S/appcontrold
User=root
Group=root
Restart=on-failure
StateDirectory=appcontrold
StateDirectoryMode=0755

[Install]
WantedBy=multi-user.target
