[Unit]
Description=AppControl daemon

[Service]
Type=simple
ExecStart=/usr/bin/appcontrold --data-dir %S/appcontrold serve
User=root
Group=root
Restart=on-failure
StateDirectory=appcontrold
StateDirectoryMode=0755

# Let systemd manage the config directory
ConfigurationDirectory=appcontrolld
ConfigurationDirectoryMode=0755

[Install]
WantedBy=multi-user.target
